@import "variables";

body {
  margin: 0;
  padding: 0 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: $font-colour;
}

page-header {
  display: block;
  height: 40px;
}

registration-success-message {
  display: block;
  height: 84px;
}

.content-container {
  padding: 0 10px;
}

