<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{> common-head}}

    <title>Simple Webapp (Home)</title>
</head>
<body>
{{> header}}

<div class="content-container">
    <h1>Simple Webapp</h1>

    <p>
        Welcome to this Simple Webapp.
    </p>
</div>
</body>
</html>