<link rel="import" href="/webjars/polymer/1.4.0/polymer.html">

<dom-module id="page-header">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <div class="header-container">
            <div class="signin">
                {{^username}}
                    <a href="/registration">Register</a>
                    <a href="/signIn">Sign In</a>
                {{/username}}
                {{#username}}
                    <a href="/profile/{{username}}" class="username">{{username}}</a>
                    <a href="/signOut">Sign Out</a>
                {{/username}}
            </div>
            <div class="menu">
                <a href="/">Home</a>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "page-header"
        });
    </script>
</dom-module>