<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simpe Webapp ({{user.username}})</title>
</head>
<body>
<h1 class="username">{{user.username}}</h1>

<p>
    This is your profile page. Here you can edit your account settings.
</p>
</body>
</html>