<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{> common-head}}

    <title>Simpe Webapp (Registration success)</title>
</head>
<body>
{{> header}}

<div class="content-container">

    <h1 class="registration-success-heading">Welcome</h1>

    <p class="registration-success-message">
        Your account has been setup. You can now <a href="/signIn">Sign In</a>.
    </p>
</div>
</body>
</html>